@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");


/*Colors*/

:root{
/*Primary*/
--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);
/*Neutral*/
--darkBlue: hsl(234, 12%, 34%);
--grayishBlue: hsl(229, 6%, 66%);
--lightGray: hsl(0, 0%, 98%);
}

* {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    background-color:var(--lightGray);
    color: var(--grayishBlue);
  }


  .container{
    max-width:75rem;
    margin: 0 auto;
    padding: 3.125rem 1.875rem;
  }

  header{
    text-align: center;
  }

  header h1 {
    font-size: 2.125rem;
    font-weight: 200;
    color: var(--darkBlue);
  }
  
  header h2 {
    font-size: 2.125rem;
    font-weight: 600;
    color: var(--darkBlue);
  }
  
  header p {
    max-width: 37.5rem;
    margin: 0 auto;
    margin-top: 1.25rem;
  }

  .main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.563rem;
    margin-top: 3.75rem;
  }

  .box {
    background-color: white;
    border-radius: 7px;
    padding: 1.875rem;
    text-align: right;
  }

  .boxText {
    text-align: left;
    padding-bottom: 3.125rem;
  }

  .supervisor{
    border-top: 0.25rem solid var(--Cyan);
  }
  
  .teamBuilder {
    border-top: 0.25rem solid var(--Red);
  }
  
  .karma {
    border-top: 0.25rem solid var(--Orange);
  }
  
  .calculator {
    border-top: 0.25rem solid var(--Blue);
  }

  .boxText h3 {
    font-size: 1.25rem;
    color: hsl(234, 12%, 34%);
    margin-bottom: 0.625rem;
  }
  
  .boxContainer {
    display: flex;
    flex-direction: column;
    gap: 1.563rem;
  }
  
  .supervisor,
  .calculator {
    align-self: center;
  }

  @media only screen and (max-width: 768px) {
    .main {
      grid-template-columns: 1fr;
    }
  }
  

  @media only screen and (max-width: 425px) {
    body {
      font-size: 0.813em;
    }
  
    header h1 {
      font-size: 0.125em;
    }
  
    header h2 {S
      font-size: 1.375em;
    }
  
    .box {
      padding: 1.25em;
    }
  
    .boxText {
      padding-bottom: 1.875em;
    }
  }